/* {
    outline: thin dashed red;
} */ 

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

html, body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    overflow-y: auto;
}

body {
    display: flex;
    flex-direction: column;
}

.container1 {
    background: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

img {
    width: 300px;
    height: auto;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

ul, .secondary {
    color: #e5e7eb;
    font-size: 18px;
}

.secondary {
    width: 450px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin: 0 300px;
}

.main {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero {
    display: flex;
    margin: 80px 300px;
    flex-wrap: wrap;
    gap: 25%;
}

.image {
    background-color: rgb(140, 140, 140);
    padding: 100px 120px;
    color: white;
    border-radius: 5px;
    margin: 5px 0;
}

button {
    background-color: #3882f6;
    border: 1px solid #3882f6;
    color: white;
    border-radius: 5px;
    padding: 8px 20px;
    margin-top: 15px;
    font-weight: 700;
}

.title2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

.container2 {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 15px;
    text-align: center;
    flex-wrap: wrap;
    padding: 60px;
}

img {
    width: 200px;
    height: 200px;
    border-style: solid;
    color: #3882f6;
    border-radius: 20px;
    border-width: thick;
}

.text {
    margin-top: 10px;
}

.container3 {
    background-color: #e5e7eb;
    display: flex;
    font-weight: 100;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    padding: 120px;
    justify-content: center;
    align-items: center;
}


span.noitalic {
    float: right;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

p {
    max-width: 820px;
    margin: 10px 60px;
}

.container4 {
    display: flex;
    margin: 150px auto;
    align-items: center;
    background-color: #3882f6;
    padding: 40px 40px;
    border-radius: 5px;
    color: white;
    justify-content: space-around;
    height: 80px;
    width: 1000px;
}

button {
    border: 1px solid white;
    width: 150px;
}

.main2 {
    font-weight: bold;
    font-size: 20px;
}